body{
    background-color: #ffcaf5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    align-items: center;
    align-content: center;
}
button{
    color:blanchedalmond;
    font-size: 3rem;
    background-color:#d650be;
    margin:2em;
}